<div class="taskList" (dragover)="allowDrop($event)" (drop)="drop($event)">
        <h2 class="taskListTitle">{{taskList.title}}</h2>
        <div class="tasks">
             <!-- [card]="cardStore.getCard(cardId)" -->
                <!-- <app-card *ngFor="let card of taskList.tasks"></app-card>> -->
                <table>
                    <tbody>
                        <pm-task *ngFor="let t of taskList.tasks" [task]="t"></pm-task>
                    </tbody>
                </table>
                <!-- <input #addCardInput type="text" (keyup.enter)="onEnter(addCardInput.value); addCardInput.value=''; displayAddCard=false;" *ngIf="displayAddCard" autofocus>
                <a href="#" class="list__newcard" (click)="toggleDisplayAddCard();">Add a card...</a> -->
            </div>
</div>